In [1]:
import pandas as pd

In [2]:
df_listings = pd.read_csv('../za_sample_listings_incl_cat.csv')

In [6]:
df_listings.head()

,Unnamed: 0,item_id,seller_id,listing_title,listing_description,listing_price,category_sk,category_l1_name_en,category_l2_name_en,category_l3_name_en,listing_latitude,listing_longitude
0,0,0.0,0,Nice wooden makes,We build all different types for sale,17500.00,olx|mea|za|806|809,"Home, Garden & Tools",Garden & Braai,Unknown,-25.43067,27.84873
1,1,1.0,1,A Shinning 2013 Chevrolet 1.4 Utility Bakkie w...,A Stunning accident free bargain that has just...,94890.00,olx|mea|za|362|378|2012,Vehicles,Cars & Bakkies,Chevrolet,-29.73714,31.07364
2,2,2.0,2,Lampshades various,A variety of lampshades in white,20.00,olx|mea|za|806|807,"Home, Garden & Tools",Furniture & Decor,Unknown,-33.88159,18.55522
3,3,3.0,3,Toyota Corolla,"Toyota Corolla 1.3 Professional, Front Electri...",63995.00,olx|mea|za|362|378|2067,Vehicles,Cars & Bakkies,Toyota,-26.10757,28.05670
4,4,4.0,4,bench grinder and buffer,bench grinder and.buffer...R800 for both,800.00,olx|mea|za|806|910,"Home, Garden & Tools",Tools & DIY,Unknown,-26.17190,27.91318

In [4]:
df_keywords = pd.read_csv('../za_queries_sample.csv')

In [7]:
df_keywords.head()

   Unnamed: 0     search_term     cnt
0           0            polo  133394
1           1            golf  124172
2           2           isuzu  121043
3           3             bmw  109099
4           4  toyota corolla  107486